@using System.Linq.Expressions

@inherits InputText

<div style="margin: 5px; display: flex; justify-content: space-between; align-items: baseline;">
    <h6 style="width: 150px">@Label</h6>
    <div style="width: 100%">
        <input @attributes="AdditionalAttributes"
               class="form-control"
               @bind=@CurrentValueAsString
               @bind:event="oninput"
               disabled="@(!IsEnabled)" />
        
        @if (MessageFor != null)
        {
            <ValidationMessage For="@MessageFor"/>
        }
    </div>
</div>
<br/>

@code {
    [Parameter]
    public string Label { get; set; }
    
    [Parameter]
    public bool IsEnabled { get; set; } = true;
    
    [Parameter]
    public Expression<Func<string>>? MessageFor { get; set; }
}