@using System.Linq.Expressions

@inherits InputText

<div class="app-input-group">
    <h6 class="app-input-label">@Label</h6>
    <div class="app-input-container">
        <input @attributes="AdditionalAttributes"
               class="form-control"
               @bind=@CurrentValueAsString
               @bind:event="oninput"
               disabled="@(!IsEnabled)" />
        
        @if (MessageFor != null)
        {
            <ValidationMessage For="@MessageFor"/>
        }
    </div>
</div>
<br/>

@code {
    [Parameter]
    public string Label { get; set; }
    
    [Parameter]
    public bool IsEnabled { get; set; } = true;
    
    [Parameter]
    public Expression<Func<string>>? MessageFor { get; set; }
}