@page "/tax-profile"

@using TaxCalculator.WebFrontend.Data
@using TaxProfileModel = TaxCalculator.Domain.Entities.TaxProfile;

@inject WebApi _webApi;

<h3>TaxProfile</h3>

@if (TaxProfiles == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var profile in TaxProfiles)
        {
            <tr>
                <td>@profile.Name</td>
                <td>@profile.Description</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    
    public List<TaxProfileModel>? TaxProfiles { get; set; }

    public bool IsLoaded { get; set; }

    protected override async Task OnInitializedAsync()
    {
        TaxProfiles = (await _webApi.GetManyAsync<TaxProfileModel>("TaxProfile")).ToList();
        IsLoaded = true;
    }
}