@using TaxCalculator.WebFrontend.Models
@using TaxCalculator.WebFrontend.Pages
@using TaxCalculator.WebFrontend.State
@using TaxCalculator.WebFrontend.State.Contracts

@inherits LayoutComponentBase

@inject IStateManager _stateManager;
@inject NavigationManager _navigationManager;

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            <div class="app-layout-header-items">
                @if (CurrentProfile != null)
                {
                    <NavLink href="@("/tax-profile/details/" + CurrentProfile.TaxProfileId)"
                             class="btn btn-outline-success">
                        @CurrentProfile.Name
                    </NavLink>

                    @if (!_navigationManager.Uri.Contains("tax-profile/details"))
                    {
                        <NavLink href="@("/manage-incomes/" + CurrentProfile.TaxProfileId)"
                                 class="btn btn-outline-success">
                            Manage incomes
                        </NavLink>
                    
                        <NavLink href="@("/manage-additional-spends/" + CurrentProfile.TaxProfileId)"
                                 class="btn btn-outline-success">
                            Manage spends
                        </NavLink>
                    }
                }
            </div>
        </div>  

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code
{
    private UpdateTaxProfileModel? CurrentProfile { get; set; }
    
    protected override void OnInitialized()
    {
        _stateManager.OnStateChanged += OnStateChanged;
    }

    private void OnStateChanged(object? sender, StateChangedEventArgs e)
    {
        if (e.EventName == StateEventList.CurrentProfileChanged)
        {
            CurrentProfile = e.CurrentState as UpdateTaxProfileModel;
        }
        
        StateHasChanged();
    }
}
