@page "/tax-profile/details/{ProfileId}"

@using TaxCalculator.WebFrontend.Data
@using TaxCalculator.Domain.Entities
@using TaxCalculator.Domain.Services.Identifier
@using TaxCalculator.WebFrontend.Pages.Taxes
@using TaxCalculator.WebFrontend.Shared.FormInputs

@inject WebApi _webApi;
@inject NavigationManager _navigationManager;
@inject IIdentifierService _identifierService;

<div>
    <div style="display: flex; justify-content: space-between;">
        <h3>View profile details</h3>
        <div style="box-sizing: border-box;">
            <a href="#" class="btn btn-primary">Manage incomes</a>
            <a href="#" class="btn btn-primary">Manage additional spends</a>
        </div>
    </div>
    <br/>
    <div>
        <div>
            <EditForm Model="@Profile">
                <TextInput Label="Name" @bind-Value="Profile.Name" IsEnabled="IsFormEnabled"/>
                <TextAreaInput Label="Description" @bind-Value="Profile.Description" IsEnabled="IsFormEnabled"/>
                <SelectInput Label="Profile currency" DefaultOption="Select currency" Data="Currencies" @bind-Value="CurrencyId" IsEnabled="IsFormEnabled"/>
                <ButtonSubmit IsEnabled="IsFormEnabled"/>
            </EditForm>
        </div>
        <TaxGrid ProfileId="@ProfileId" />
    </div>
</div>

@code {
    [Parameter]
    public string ProfileId { get; set; }
    
    private TaxProfile Profile { get; set; } = new();
    private Dictionary<Guid, string>? Currencies { get; set; } = new();
    private Guid CurrencyId { get; set; }
    private bool IsFormEnabled { get; set; } = false;
    
    protected override async Task OnInitializedAsync()
    {
        Profile = await _webApi.GetOneAsync<TaxProfile>($"TaxProfile/one?TaxProfileId={ProfileId}");
        Currencies = _identifierService.Currencies.ToDictionary();
        CurrencyId = Profile.ProfileCurrencyId.Value;
    }
}