@page "/tax-profile/create"

@using TaxCalculator.WebFrontend.Data
@using TaxCalculator.Application.TaxProfiles.Commands
@using TaxCalculator.Domain.Services.Identifier
@using TaxCalculator.WebFrontend.Shared.FormInputs

@inject WebApi _webApi;
@inject NavigationManager _navigationManager;
@inject IIdentifierService _identifierService;

<div>
    <div>
        <h3>Create new profile</h3>
    </div>
    <br />
    <div>
        <EditForm Model="@_createTaxProfileCommand" OnValidSubmit="@HandleSubmitAsync">
            <TextInput Label="Name"
                       @bind-Value="_createTaxProfileCommand.Name"/>
            
            <TextAreaInput Label="Description"
                           @bind-Value="_createTaxProfileCommand.Description"/>
            
            <SelectInput Label="Profile currency" 
                         DefaultOption="Select currency"
                         Data="_currencies"
                         @bind-Value="_createTaxProfileCommand.ProfileCurrencyId"/>
            <ButtonSubmit />
        </EditForm>
    </div>
</div>

@code {
    public CreateTaxProfileCommand _createTaxProfileCommand = new();
    private Dictionary<Guid, string>? _currencies;

    protected override async Task OnInitializedAsync()
    {
        _currencies = _identifierService.Currencies.ToDictionary();
    }
    
    private async Task HandleSubmitAsync()
    {
        var result = await _webApi.Create(_createTaxProfileCommand, "TaxProfile");
        if (result.RecordId != null)
        {
            _navigationManager.NavigateTo($"tax-profile/details/{result.RecordId}");
        }
    }
}